.search-box {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.search-box input {
  max-width: 235px;
}

.search-box {
  max-width: 322px;
}

.search-box input {
  max-width: 100%;
  padding: 10px;
  box-sizing: border-box;
}
