.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Три колонки */
  gap: 16px; /* Відступи між картками */
  padding: 16px;
  margin-top: 80px; /* Відступ для врахування висоти header */
}

.gallery-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px; /* Висота картки */
  overflow: hidden; /* Приховати частини зображення, що виходять за межі */
  border-radius: 8px;
  background-color: #f0f0f0; /* Колір фону картки */
}

.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Зображення заповнює контейнер */
}
